.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));

}
.App-night{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(4, 17, 6), rgb(34, 90, 62));

}

html{
   scroll-behavior: smooth;
}